---
layout: default
---
<h1>{{ page.county_name }} County, {{ page.state_abbrev }} Senior Living Facilities</h1>
<p class="lead">{{ page.facility_count }} senior living {% if page.facility_count == 1 %}community{% else %}communities{% endif %} in {{ page.county_name }} County, {{ page.state_name }}, organized by city.</p>

{{ content }}

{%- for city in page.cities %}
<section aria-labelledby="c-{{ city.slug }}">
  <h2 id="c-{{ city.slug }}"><a href="{{ city.url }}">{{ city.name }}, {{ page.state_abbrev }}</a></h2>
  <ul class="grid">
    {%- for f in city.facilities %}
    {% include facility-card.html facility=f %}
    {%- endfor %}
  </ul>
</section>
{%- endfor %}


<p class="notice">Community missing? <a href="/add-a-facility/">Add it to the directory</a> - anyone can suggest one, and if you work there we'll help you fill in the full profile.</p>
